@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

&::-moz-scrollbar {
  visibility: hidden;
}
/*.ytp-chrome-top,
.ytp-show-cards-title {
  display: none !important;
} */

